HOST_DIR=/path/to/Roche_nxt
FASTQ_HOST_DIR=/path/to/fastq
BED_HOST_DIR=/path/to/data/bed/hg38
WEB_PORT=8080
UID=1000
GID=1000
TZ=Asia/Seoul
ENABLE_LONGITUDINAL=true
MAX_CPUS=0
MAX_MEMORY=0
MAX_CONCURRENT_SAMPLES=0
